﻿@model kakeibo.Models.KakeiboModels.Payment

@{
    ViewData["Title"] = "決済方法（作成）";
}

<h2>決済方法（作成）</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Short" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Short" class="form-control" />
                <span asp-validation-for="Short" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Memo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Memo" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Memo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sort" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sort" class="form-control" />
                <span asp-validation-for="Sort" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="作成" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">一覧へ戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
