﻿@model IEnumerable<kakeibo.Models.KakeiboModels.Payment>

@{
    ViewData["Title"] = "決済方法（一覧）";
}

<h2>決済方法（一覧）</h2>

<p>
    <a asp-action="Create" class="btn btn-default">新規作成</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort)
            </td>
        </tr>
}
    </tbody>
</table>
