﻿@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "ユーザ登録(外部サービス連携)";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>@ViewData["LoginProvider"] との連携を行います。</h4>
    <div class="label  label-danger">test</div>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <p class="text-info">
            @ViewData["LoginProvider"]の認証に成功しました。<br>
            適当なメールアドレスを入力して登録ボタンをクリックしてください。
        </p>
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">登録</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
