﻿@model IEnumerable<kakeibo.Models.AccountViewModels.ApplicationUserViewModel>

@{
    ViewData["Title"] = "アカウント一覧";
}

<h2>アカウント一覧</h2>

<div class="table-responsive">
    <table class="table table-striped" border="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
