﻿<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>家計管理システム:@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">家計簿</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">ホーム<span class="glyphicon glyphicon-home" /></a>
                    </li>
                    <li>
                        <a href="dropdown-toggle" data-toggle="dropdown">
                            入力
                            <span class="glyphicon glyphicon-pencil" />
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">出費</a></li>
                            <li><a href="#">予算</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dropdown-toggle" data-toggle="dropdown">
                            分析
                            <span class="glyphicon glyphicon-search" />
                            <span class="caret" />
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">時間帯</a></li>
                            <li><a href="#">日別</a></li>
                            <li><a href="#">集計</a></li>
                            <li><a href="#">位置</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="dropdown-toggle" data-toggle="dropdown">
                            マスタ
                            <span class="glyphicon glyphicon-wrench" />
                            <span class="caret" />
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Locations" asp-action="Index">購入場所</a></li>
                            <li><a asp-area="" asp-controller="Payments" asp-action="Index">決済方法</a></li>
                            <li><a asp-area="" asp-controller="Kinds" asp-action="Index">商品分類</a></li>
                        </ul>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - 家計管理システム</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
