﻿@using Microsoft.AspNetCore.Identity
@using kakeibo.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




@if (SignInManager.IsSignedIn(User)) {
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)さん</a>
            </li>
            @if (User.IsInRole(KkConst.Role.Admin)) {
                <li class="dropdown">
                    <a href="dropdown-toggle" data-toggle="dropdown">
                        管理者
                        <span class="glyphicon glyphicon-user" />
                        <span class="caret" />
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Account" asp-action="UserList">ユーザ管理</a></li>
                        <li><a href="#">統計</a></li>
                    </ul>
                </li>
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">ログオフ</button>
            </li>
        </ul>
    </form>
} else {
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">登録</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">ログイン</a></li>
    </ul>
}

