﻿@model kakeibo.Models.KakeiboModels.Location

@{
    ViewData["Title"] = "購入場所（編集）";
}

<h2>購入場所（編集）</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ApplicationUserId">
        <input type="hidden" asp-for="CoordinateId">
        <input type="hidden" asp-for="PhotoGroupId">
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Short" class="col-md-2 control-label"></label>

            <div class="col-md-10">
                <input asp-for="Short" class="form-control" />
                <span asp-validation-for="Short" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LocationId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId">
                    <option value=""></option>
                </select>
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Memo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Memo" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Memo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sort" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sort" class="form-control" />
                <span asp-validation-for="Sort" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-primary" />
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">削除</a>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">一覧へ戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
