﻿@{
    ViewData["Title"] = "ホーム";
}

<div class="jumbotron">
    <h3>TODO:実装</h3>
    <ul>
        <li>
            基本入力機能へのリンクまたはボタン（トップページから直接入力すると考えられるため）
        </li>
        <li>
            本日、今週、今月の利用可能残高（タブ化、推移）
        </li>
        <li>
            今月の予算の利用情況
        </li>
        <li>
            最近の購入状況
        </li>
    </ul>
</div>